{% extends "common.html" %}
{% load static %}


{% block main %}
  
	<div class="untree_co-section product-section before-footer-section">
		<div class="container">
			<div class="row">

				{% for product in products %}
					<!-- Start Column 1 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5">
						<a class="product-item" href="#">
							<img src="http://127.0.0.1:8000/media/{{ product.image }}" class="img-fluid product-thumbnail">
							<h3 class="product-title">{{ product.furniture_name }}</h3>
							<strong class="product-price">${{ product.price }}</strong>

							<span class="icon-cross">
								<img src="{% static 'images/cross.svg' %}" class="img-fluid">
							</span>
						</a>
					</div> 
					<!-- End Column 1 -->
				{% endfor %}

				{% for product in products1 %}
					<!-- Start Column 1 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5">
						<a class="product-item" href="#">
							<img src="http://127.0.0.1:8000/media/{{ product.image }}" class="img-fluid product-thumbnail">
							<h3 class="product-title">{{ product.furniture_name }}</h3>
							<strong class="product-price">${{ product.price }}</strong>

							<span class="icon-cross">
								<img src="{% static 'images/cross.svg' %}" class="img-fluid">
							</span>
						</a>
					</div> 
					<!-- End Column 1 -->
				{% endfor %}

				
				


				

			</div>
		</div>
	</div>
{% endblock main %}


	